In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("C:\\Users\\UMANG PATEL\\Desktop\\AIMS\\Bill_Data.csv",nrows=200)

In [3]:
df.head()

,BillNo,BillQty,BillParty,BillDate,BillProdNo,BillProdCode,BillProdName,BillProdPacking,BillProdBatch,BillAddTax,BillExpdate,BillMRP,BillRate,BillVat,BillAmt,BillFree,BillPTS,BillPartyType
0,E1617-75852,10.00,NaN,16-Jan-19,2,BAT01,BATAKA,NaN,NaN,0,NaN,NaN,14.0,0,140.0,0.0,NaN,R
1,E1617-75852,6.00,NaN,16-Jan-19,1,DUN01,DUNGRI,NaN,NaN,0,NaN,NaN,12.0,0,72.0,0.0,NaN,R
2,E1617-75853,3.00,HAREKRISHNA BAKERY,16-Jan-19,1,RIN07,RINGAN BHARTHA,NaN,NaN,0,NaN,NaN,38.0,0,114.0,0.0,NaN,R
3,E1617-75854,0.25,NaN,16-Jan-19,1,GAJ01,GAJAR,NaN,NaN,0,NaN,NaN,24.0,0,6.0,0.0,NaN,R
4,E1617-75855,3.00,NaN,16-Jan-19,1,BAN01,BANANA,NaN,NaN,0,NaN,NaN,3.4,0,10.2,0.0,NaN,R

In [4]:
df.BillRate.head()

0    14.0
1    12.0
2    38.0
3    24.0
4     3.4
Name: BillRate, dtype: float64

In [5]:
df.set_index("BillProdCode",inplace=True)

In [6]:
df.index

Index(['BAT01', 'DUN01', 'RIN07', 'GAJ01', 'BAN01', 'MIL01', 'BUT02', 'DHA01',
       'MAR04', 'FUD01',
       ...
       'BHI01', 'RIN03', 'LEE02', 'AAD01', 'LIM01', 'MAR01', 'CAK14', 'BHI01',
       'APP04', 'GRA04'],
      dtype='object', name='BillProdCode', length=200)

In [7]:
df.BillRate.head()

BillProdCode
BAT01    14.0
DUN01    12.0
RIN07    38.0
GAJ01    24.0
BAN01     3.4
Name: BillRate, dtype: float64

In [9]:
df.BillProdName.value_counts().values

array([11, 11, 10,  9,  9,  7,  7,  6,  6,  6,  5,  5,  5,  5,  5,  4,  4,
        4,  4,  4,  4,  4,  4,  3,  3,  3,  3,  3,  3,  2,  2,  2,  2,  2,
        2,  2,  2,  2,  2,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1], dtype=int64)

In [10]:
df.loc['BAN01','BillRate']

BillProdCode
BAN01     3.400
BAN01     3.400
BAN01    40.000
BAN01     3.333
Name: BillRate, dtype: float64

In [13]:
df.BillProdName.value_counts()['MILK']

9

In [14]:
df.BillProdName.value_counts().sort_values()

CAKE CHOCOLATE TUFFEL     1
SAT DHANAJIRU 500         1
APPLE STAR                1
MILK DHABUDI              1
RINGAN BHARTHA            1
                         ..
MILK                      9
BATAKA                    9
AADU                     10
BHINDA                   11
TOMATA                   11
Name: BillProdName, Length: 62, dtype: int64

In [15]:
df.BillProdName.value_counts().sort_index()

AADU                   10
AMUL BUTTER COOKIES     1
APPLE KASMIR            3
APPLE STAR              1
BANANA                  4
                       ..
TINDOLA                 5
TOMATA                 11
TUVAR                   3
VALOR                   1
VATANA                  4
Name: BillProdName, Length: 62, dtype: int64

In [18]:
df.BillRate

BillProdCode
BAT01     14.0
DUN01     12.0
RIN07     38.0
GAJ01     24.0
BAN01      3.4
         ...
MAR01     52.0
CAK14    500.0
BHI01     72.0
APP04    230.0
GRA04    120.0
Name: BillRate, Length: 200, dtype: float64

In [19]:
df.index.name='BillProdCode'
df.reset_index(inplace=True)
df.index

RangeIndex(start=0, stop=200, step=1)

In [20]:
df.index

RangeIndex(start=0, stop=200, step=1)

In [21]:
df.columns

Index(['BillProdCode', 'BillNo', 'BillQty', 'BillParty', 'BillDate',
       'BillProdNo', 'BillProdName', 'BillProdPacking', 'BillProdBatch',
       'BillAddTax', 'BillExpdate', 'BillMRP', 'BillRate', 'BillVat',
       'BillAmt', 'BillFree', 'BillPTS', 'BillPartyType'],
      dtype='object')

In [22]:
df.index

RangeIndex(start=0, stop=200, step=1)

In [28]:
df.iloc[0:4,0:4]

  BillProdCode       BillNo  BillQty           BillParty
0        BAT01  E1617-75852    10.00                 NaN
1        DUN01  E1617-75852     6.00                 NaN
2        RIN07  E1617-75853     3.00  HAREKRISHNA BAKERY
3        GAJ01  E1617-75854     0.25                 NaN

In [32]:
df.iloc[0,4:6]

BillDate      16-Jan-19
BillProdNo            2
Name: 0, dtype: object

In [39]:
df.ix[0:1,0:4]

AttributeError: 'DataFrame' object has no attribute 'ix'

In [40]:
df.index

RangeIndex(start=0, stop=200, step=1)

In [43]:
df = pd.read_csv("C:\\Users\\UMANG PATEL\\Desktop\\AIMS\\Bill_Data.csv",nrows=200)

In [44]:
df.index

RangeIndex(start=0, stop=200, step=1)

In [46]:
df.columns

Index(['BillNo', 'BillQty', 'BillParty', 'BillDate', 'BillProdNo',
       'BillProdCode', 'BillProdName', 'BillProdPacking', 'BillProdBatch',
       'BillAddTax', 'BillExpdate', 'BillMRP', 'BillRate', 'BillVat',
       'BillAmt', 'BillFree', 'BillPTS', 'BillPartyType'],
      dtype='object')

In [47]:
df.index

RangeIndex(start=0, stop=200, step=1)

In [48]:
df.loc[4,"BillAmt"]

10.2

In [50]:
df.shape

(200, 18)

In [62]:
df.isnull().sum()

BillNo               0
BillQty              0
BillParty          109
BillDate             0
BillProdNo           0
BillProdCode         0
BillProdName         0
BillProdPacking    200
BillProdBatch      200
BillExpdate        200
BillMRP            200
BillRate             0
BillAmt              0
BillFree             0
BillPTS            200
BillPartyType        0
dtype: int64

In [1]:
# import the pandas library
import pandas as pd

ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
   'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
   'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
   'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
   'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(ipl_data)
df
grouped = df.groupby('Year')
grouped
for name,group in grouped:
   print(name)
   print(group)
print("----------------------------")
print(grouped.get_group(2014))

2014
     Team  Rank  Year  Points
0  Riders     1  2014     876
2  Devils     2  2014     863
4   Kings     3  2014     741
9  Royals     4  2014     701
2015
      Team  Rank  Year  Points
1   Riders     2  2015     789
3   Devils     3  2015     673
5    kings     4  2015     812
10  Royals     1  2015     804
2016
     Team  Rank  Year  Points
6   Kings     1  2016     756
8  Riders     2  2016     694
2017
      Team  Rank  Year  Points
7    Kings     1  2017     788
11  Riders     2  2017     690
----------------------------
     Team  Rank  Year  Points
0  Riders     1  2014     876
2  Devils     2  2014     863
4   Kings     3  2014     741
9  Royals     4  2014     701